<h1>Welcome, <%=@user.name%>. Here are all the quizzes:</h1>
<br>

<% @quizzes.each_with_index do |quiz, index|%>

 <%= index+1 %>

 <%= quiz.name %><br>

 <form action="/quizzes/<%= quiz.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="show">
  <input type="submit" value="<%= quiz.name %>">
</form>


<%end%>